<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secured Page</title>
</head>
<body>
<h1>Secured by OAuth2</h1>
<span th:text="${#authentication.name}"></span><br><br>
<a href="/">Go Back</a><br>
<a id="qsLogoutBtn" th:href="@{/logout}" class="dropdown-item">
    <i class="fas fa-power-off mr-3"></i> Log out <br>
    <a id="qsItemsBtn" th:href="@{/api/menu/items}" class="dropdown-item">
        <i class="fas fa-power-off mr-3"></i> Items List
</a>
</a>
</body>
</html>